.section.quote{
    display: block;
    .quote-text{
        font-size: 1.3em;
        line-height: 1.3em;
        color: var(--text-color);
    }
    .quote-auther{
        color: var(--text-light);
        text-align: right;
        margin-top: 1em;
        margin-right: .8em;
    }
}